<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vad i helvete ska jag laga till middag?</title>
    <link href="hell.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <p class="top">DU KAN FÖR I HELVETE LAGA LITE</p>
    <p class="headline"><a href="<%= @recipe_link %>"><%= @recipe_title %></a></p>
    <a href="/"><p class="underline">JAG GILLAR FÖR I HELVETE INTE DET DÄR</p></a>
    <a href="/vegan"><p class="underline"><%=@i_dont_play_that%></p></a>
  </body>
</html>

