.top {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 48px;
	color: #000000;
	position: relative;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}
.headline {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 48px;
	color: #999999;
	position: relative;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}
.underline {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	font-weight: 800;
	color: #000000;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.body {
	margin-left: 25%;
	margin-top: 50px;
	color: #000;
	background-color: #ffffff;
	width: 50%;
}
